<div class="card col-md-4 col-lg-4 col-sm-6 col-xs-12 mx-auto float-xs-none white z-depth-5 hoverable py-2 px-2">
  <div class="card-block">
    {% if doble[i] %}
    {% set main_pin = list[i].pin|split('-:-')[0] %}
    {% set sub_pin = list[i].pin|split('-:-')[1] %}
    {% set dom_pin = main_pin~"u"~sub_pin %}
    <div id="head_{{ dom_pin }}" class="form-header z-depth-5 hoverable
      header-danger
      ">
      <h3><strong>{{ list[i].nombre }}</strong></h3>
      {% else %}
      <div id="head_{{ list[i].pin }}" class="form-header z-depth-5 hoverable
    {% if list[i].signal == 0 %}
      header-success 
      {% else %}
      header-danger
      {% endif %}
      ">
        <h3><strong>{{ list[i].nombre }}</strong></h3>
        {% endif %}

      </div>
      <center>
        {% if doble[i] %}

        {#
 <noscript>
 <a href="gpio/{{ list[i].pin }}/{{ list[i][0].log }}/{{list[i][1].log }}/2">
 </noscript>
      <div onclick="enviar({{ list[i][0].log }},{{list[i][1].log }},2)">
      <input value="{{ list[i][0].pin }}" data-on="Pin {{ list[i][0].pin }}: <i class='fa fa-arrow-up'></i>" data-off=" Pin {{ list[i][1].pin }}: <i class='fa fa-arrow-down'></i>" data-toggle="toggle" data-onstyle="primary" data-offstyle="info" data-size="large" type="checkbox" {% if state[i] == 0 %} checked {% endif %}/>      	  
  </div>
   <noscript>
 </a>
 </noscript> 
 #}

        {#% if state[i] == 0 %}
 
{% set main_pin = list[i][1].pin %}
{% set main_log = list[i][1].log %}
{% set sub_pin = list[i][0].pin %}
{% set sub_log = list[i][0].log %}

{% else %}

{% set main_pin = list[i][0].pin %}
{% set main_log = list[i][0].log %}
{% set sub_pin = list[i][1].pin %}
{% set sub_log = list[i][1].log %}

{% endif %#}

        <noscript>
          <a href="gpio/{{ list[i].pin }}/2">
        </noscript>
        <button
          style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
          unselectable="on" onselectstart="return false;"
          onmousedown="enviar_ajax('{{ list[i].pin }}','{{ dom_pin }}',2);return false;"
          ontouchstart="enviar_ajax('{{ list[i].pin }}','{{ dom_pin }}',2);return false;"
          onmouseup="enviar_ajax('{{ list[i].pin }}','{{ dom_pin }}',4)"
          ontouchend="enviar_ajax('{{ list[i].pin }}','{{ dom_pin }}',4)" class="btn btn-primary btn-lg">
          Pin {{ main_pin }}: <i class='fa fa-arrow-up'></i></button>
        <noscript>
          </a>
        </noscript>

        <noscript>
          <a href="gpio/{{ list[i].pin }}/3">
        </noscript>
        <button
          style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
          unselectable="on" onselectstart="return false;"
          onmousedown="enviar_ajax('{{ list[i].pin }}','{{ dom_pin }}',3);return false;"
          ontouchstart="enviar_ajax('{{ list[i].pin }}','{{ dom_pin }}',3);return false;"
          onmouseup="enviar_ajax('{{ list[i].pin }}','{{ dom_pin }}',4)"
          ontouchend="enviar_ajax('{{ list[i].pin }}','{{ dom_pin }}',4)" class="btn btn-info btn-lg"
          class="btn btn-info btn-lg">
          Pin {{ sub_pin }} :
          <i class='fa fa-arrow-down'></i></button>
        <noscript>
          </a>
        </noscript>

        <noscript>
          <a href="gpio/{{ list[i].pin }}/4">
        </noscript>
        <button class="btn btn-danger btn-lg" onclick="enviar_ajax('{{ list[i].pin }}','{{ dom_pin }}',4)">
          Pin {{ main_pin }} -:- {{ sub_pin }}:
          <i class='fa fa-ban'></i></button>
        <noscript>
          </a>
        </noscript>

        {% else %}


        <noscript>
          <a href="gpio/{{ list[i].pin }}/{{ list[i].signal == 0 ? 1 : 0 }}">
        </noscript>

        {#<div onclick="enviar({{ list[i].log }},-1,{{ list[i].signal == 0 ? 1 : 0 }})">#}
        <div onclick="enviar_ajax_id('{{ list[i].pin }}')">
          <input value="{{ list[i].pin }}" data-on="Pin {{ list[i].pin }}: <i class='fa fa-bolt'></i>"
            data-off=" Pin {{ list[i].pin }}: <i class='fa fa-ban'></i>" data-toggle="toggle" data-onstyle="success"
            data-offstyle="danger" data-size="large" type="checkbox" {% if list[i].signal == 0 %}checked {% endif %} />
        </div>
        <input type="hidden" id="signal_val_{{ list[i].pin }}" value="{{ list[i].signal == 0 ? 1 : 0 }}" />
        <noscript>
          </a>
        </noscript>

        {% endif %}
      </center>
    </div>

  </div>