<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">

<head>
    <!-- If you delete this meta tag, the ground will open and swallow you. -->
    <meta name="viewport" content="width=device-width">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reestablecer Contrase単a</title>

    <style>
        @media only screen and (max-width: 600px) {
            a[class="btn"] {
                display: block !important;
                margin-bottom: 10px !important;
                background-image: none !important;
                margin-right: 0 !important;
            }

            div[class="column"] {
                width: auto !important;
                float: none !important;
            }

            table.social div[class="column"] {
                width: auto !important;
            }
        }
    </style>

</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0"
    style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; width: 100%;">

    <!-- HEADER -->
    <table class="head-wrap" bgcolor="#ffffff"
        style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%;"
        width="100%">
        <tr
            style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
            <td
                style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
            </td>
            <td class="header container" align=""
                style="padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block; max-width: 600px; margin: 0 auto; clear: both;">

                <!-- /content -->
                <div class="content"
                    style="font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 15px; max-width: 600px; margin: 0 auto; display: block;">
                    <table bgcolor="#ffffff"
                        style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%;"
                        width="100%">
                        <tr
                            style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
                            <td
                                style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
                                <img src="{{ absolute_url(asset('img/general/logo.png')) }}"
                                    style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%;">
                            </td>
                            <td align="right"
                                style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
                                <h6 class="collapse"
                                    style="font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; line-height: 1.1; margin-bottom: 15px; font-weight: 900; font-size: 14px; text-transform: uppercase; color: #444; padding: 0; margin: 0;">
                                    Reestablecer Contrase単a</h6>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->

            </td>
            <td
                style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
            </td>
        </tr>
    </table>
    <!-- /HEADER -->

    <!-- BODY -->
    <table class="body-wrap" bgcolor=""
        style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%;"
        width="100%">
        <tr
            style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
            <td
                style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
            </td>
            <td class="container" align="" bgcolor="#FFFFFF"
                style="padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; display: block; max-width: 600px; margin: 0 auto; clear: both;">

                <h1>
                    <strong
                        style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">Usuario
                        {{ usuario }}</strong>
                </h1>
                <!-- content -->

                <p
                    style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">
                    <img src="{{ absolute_url(asset('img/general/error.jpg'))}}"
                        style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; max-width: 100%;">
                </p>

                <div class="content"
                    style="font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 15px; max-width: 600px; margin: 0 auto; display: block;">
                    <table bgcolor=""
                        style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%;"
                        width="100%">
                        <tr
                            style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
                            <td
                                style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">

                                <!-- Callout Panel -->
                                <div class="callout"
                                    style="margin: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; padding: 15px; background-color: #ECF8FF; margin-bottom: 15px;">

                                    <h2>
                                        Para reestablecer tu contrase単a
                                        <a target="_blank"
                                            href="{{ absolute_url(path('reset', {'error': 'index', 'token': token})) }}"
                                            style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; color: #2BA6CB;">haz
                                            click aqui &raquo;</a>
                                    </h2>

                                    <h3>Recuerda que el plazo maximo para reestablecer la contrase単a es
                                        ({{ fecha_limite|date('d-m-Y h:i A') }})</h3>
                                    <br
                                        style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">

                                </div>
                                <!-- /callout panel -->

                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->

                <!-- content -->
                <div class="content"
                    style="font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; padding: 15px; max-width: 600px; margin: 0 auto; display: block;">

                    <table bgcolor="#303030"
                        style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; width: 100%;"
                        width="100%">
                        <tr
                            style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; background-color: #303030;">
                            <td colspan="2"
                                style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;background-color: #303030;">
                                <center>
                                    <h3
                                        style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 16px; line-height: 1.6;color:white; ">
                                        Copyright
                                        {{ "now"|date('Y') }}
                                        &copy;
                                        <a href="http://palmira.univalle.edu.co/"
                                            style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; margin-bottom: 10px; font-weight: normal; font-size: 16px; line-height: 1.6;color:#EC9639; ">Home
                                            Control</a>
                                        - All Rigths Reserved</h3>
                            </td>
                        </tr>
                    </table>
                    <!-- /social & contact -->

                </div>
                <!-- /content -->

            </td>
            <td
                style="margin: 0; padding: 0; font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
            </td>
        </tr>
    </table>
    <!-- /BODY -->

</body>

</html>